tls-client
up-restart

dev tun
dev-type tun
remote {{ openvpn_server }} 1194
proto {{ openvpn_protocol }}

nobind
topology subnet
pull
server-poll-timeout 4

setenv FORWARD_COMPATIBLE 1
cipher {{ openvpn_cipher }}
auth {{ openvpn_auth_digest }}
remote-cert-eku "TLS Web Server Authentication"

persist-key
persist-tun
comp-lzo adaptive

verb {{ openvpn_log_verbosity }}
key-direction 1

